// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

MARKETING_VERSION = 0.1.0
CURRENT_PROJECT_VERSION = 1

// Vars to be overwritten by `CodeSigning.xcconfig` if exists
DEVELOPMENT_TEAM = 
ORG_IDENTIFIER = org.example

CODE_SIGN_STYLE = Automatic

PROVISIONING_PROFILE_SPECIFIER =

// Codesigning settings defined optionally, see `CodeSigning.xcconfig.sample`
#include? "CodeSigning.xcconfig"

ORG_PREFIX = $(ORG_IDENTIFIER)

PRODUCT_BUNDLE_IDENTIFIER = $(ORG_PREFIX).AuthTest
